{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
  <head>
    <title>٩(ˊᗜˋ*)و</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-default bg-primary">
      <div class="container-fluid">
        <span><a class="navbar-brand text-light" href="/">なんちゃって検索</a></span>
      </div>
      <div>
        <div>
          <form method="GET">
            {{ search_form }}
             <button id="upload" type="submit">検索</button>
          </form>
        </div>
        {% if upload_form == None %}
        <div>
          <a href="{% url 'upload' %}">Upload</a>
        </div>
        {% endif %}
      </div>
    </nav>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>